<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ngMadLibsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MainCtrl">
       
      <div class="row" style="text-align:center;">
        <div class="col-xs-3 well well-sm">
          <img src="images/mad-lib-happy-face.png" style="height:80px;width:auto;max-width:80px;max-height:80px;">
        </div>
        <div class="col-xs-9 panel panel-default">
          <img src="images/ng-mad-libs-logo.png" style="height:auto;width:auto;max-width:180px;max-height:42px;">
          <h3>Automate This!</h1>
        </div>
      </div>
      
      <div class="row panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Provide the following words:</h3>
        </div>
          <div class="panel-body">
            <div ng-repeat="list in lists">
              <div class="col-xs-4">
               <input type="text" class="form-control" placeholder = "{{list}}" ng-model="list.name">
              </div> 
            </div>
          </div>
      </div>
      
      <div class="row well">
        <button class="btn btn-large btn-block btn-primary" type="button">Generate My Mad Lib</button>

      </div>


      <div class="row jumbotron">
        <p> <strong>{{lists[0].name}}</strong> was a <strong>{{lists[1].name}}</strong> who loved technology. Although she loved parts of her job, she absolutely hated  <strong>{{lists[2].name}}</strong> and <strong>{{lists[3].name}}</strong>. So, <strong>{{lists[0].name}}</strong> met with her life mentor <strong>{{lists[4].name}}</strong> who told her to learn how to <strong>{{lists[5].name}}</strong> with Thinkful. Thinkful didn't offer a course on <strong>{{lists[5].name}}</strong> so she studied programming instead. 
        What a great decision! With her new skills, <strong>{{lists[0].name}}</strong> built a(n) <strong>{{lists[6].name}}</strong> robot named <strong>{{lists[7].name}}</strong> that not only loved <strong>{{lists[3].name}}</strong> but did it <strong>{{lists[8].name}}</strong> faster. 
        </p>
      </div>

    </div>

   



   


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
     